table {
    width: 600px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
}
thead th, td:nth-child(1), tfoot td {
    color: white;
    background-color: cadetblue;
}
th, td {
    padding: 5px;
}
tr:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.281);
}
tr:not(hover) {
    transition: .2s;
}
tr:nth-child(even) {
    background-color: rgba(95, 158, 160, 0.5);
}
tbody td:hover {
    color: black;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    background-color: white;
}
